# do not change this file. this is an example. copy the file for a new customer and change the values accordingly

#######################
# change the following values for each customer service
#######################

# customer subdomain (ABC.ftscloud.ch)
CUSTOMERDOMAIN=InsertCustomerDomainHere

# ccredentials for mysql nextcloud database (used by the nextcloud app)
MYSQLUSER=nextcloud
MYSQLPASS=InsertMysqlNextcloudPasswordHere
# mysql service root password
MYSQLROOTPASS=InsertMysqlRootPasswordHere

# nextcloud administrator credentials
NEXTCLOUDUSER=admin
NEXTCLOUDPASS=InsertNextcloudAdminPasswordHere

# smtp user password
SMTPPASS=InsertSmtpFromPasswordHere


#######################
# leave the following values default except you need some specific configuration
#######################

#
# email configuation
#

SMTPENABLED=true
SMTPFROM=nextcloud@ftscloud.ch
SMTPSECURE=ssl
SMTPAUTH=true
SMTPHOST=asmtp.mail.hostpoint.ch
SMTPPORT=465
SMTPAUTHTYPE=LOGIN

#
# theme
#

THEMINGBACKGROUNDURL=https://downloads.ftsystems.ch/ftsCloud/images/background/ftsCloud-bg.png
THEMINGBACKGROUNDMIME=image/png
THEMINGCOLOR="#17196D"
THEMINGLOGOURL=https://downloads.ftsystems.ch/ftsCloud/images/customers/fts.png
THEMINGLOGOMIME=image/png
THEMINGNAME=ftsCloud
THEMINGSLOGAN=der sichere Ort für Ihre Daten
THEMINGURL=https://www.ftscloud.ch

#
# password policy
#

PASSWORDNUMERIC="1"
PASSWORDUPPERLOWER="1"
PASSWORDLENGTH=8

#
# database and data
#

# database name and username for nextcloud
MYSQLDB=nextcloud
# nextcloud data directory (inside the container)
NEXTCLOUDDATADIR=/data
