# do not change this file. this is an example. copy the file for a new customer and change the values accordingly

# customer subdomain (ABC.ftscloud.ch)
CUSTOMERDOMAIN=InsertCustomerDomainHere
# nextcloudserver to use (insert correct stackname here)
NEXTCLOUDSERVER=nextcloud.InsertCustomerDomainHere-nextcloud.rancher.internal

# aws credentials - insert the correct values when cloning the file
AWSID_LETSENCRYPT=InsertAamzonAwsIdforLetsEncryptHere
AWSKEY_LETSENCRYPT=InsertAmazonAwsKeyforLetsEncryptHere
AWSID_ROUTE53=InsertAamzonAwsIdforRoute53Here
AWSKEY_ROUTE53=InsertAamzonAwsKeyforRoute53Here

# our domain id
DOMAIN_ID=Z1EX37QWLEWOGW
# the dns record the customer domain points to, currently set to our nine server
DNS_VALUE=cloud-ftsystems-01.nine.ch

